ul, ol, p {
    margin-bottom: 12px;
}
table ul, table ol, table p {
    margin-bottom: 0;
}
table ul, table ol {
    text-align: left;
}
img {
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}
blockquote {
    padding-left: 12px;
    border-left: 4px solid #EEEEEE;
    color: #999999;
}
[red] {
    color: #F44336;
}
[orange] {
    color: #FF9800;
}
[yellow] {
    color: #FDD835;
}
[green] {
    color: #4CAF50;
}
[teal] {
    color: #26A69A;
}
[blue] {
    color: #2196F3;
}
[purple] {
    color: #660099;
}
[grey] {
    color: #9E9E9E;
}
[bg-red] {
    color: white;
    background-color: #F44336;
}
[bg-orange] {
    color: white;
    background-color: #FF9800;
}
[bg-yellow] {
    color: white;
    background-color: #FBC02D;
}
[bg-green] {
    color: white;
    background-color: #4CAF50;
}
[bg-teal] {
    color: white;
    background-color: #26A69A;
}
[bg-blue] {
    color: white;
    background-color: #2196F3;
}
[bg-purple] {
    color: white;
    background-color: #660099;
}
[bg-grey] {
    color: white;
    background-color: #757575;
}
[big] {
    font-size: 1.35rem;
}
[small] {
    font-size: 12px;
}
div.success, div.info, div.warning, div.error {
    padding: 15px;
    border-radius: 6px;
    margin: 12px 0;
}
div.success > div, div.info > div, div.warning > div, div.error > div {
    margin: 0;
    word-break: break-word;
    margin-bottom: -12px;
}
div.success {
    color: rgb(76, 175, 80);
    background-color: rgba(76, 175, 80, .12)!important;
}
div.info {
    color: rgb(33, 150, 243);
    background-color: rgba(33, 150, 243, .12)!important;
}
div.warning {
    color: rgb(255, 152, 0);
    background-color: rgba(255, 152, 0, .12)!important;
}
div.error {
    color: rgb(244, 67, 54);
    background-color: rgba(244, 67, 54, .12)!important;
}
div.success, div.info, div.warning, div.error {
    display: flex;
}
div.success:before, div.info:before, div.warning:before, div.error:before {
    font-family: 'Material Design Icons';
    font-size: 20px;
    height: 20px;
    line-height: 20px;
}
div.success > div, div.info > div, div.warning > div, div.error > div {
    margin-left: 10px;
    line-height: 20px;
}
div.success:before {
    content: '\F05E1';
}
div.info:before {
    content: '\F02FD';
}
div.warning:before {
    content: '\F002A';
}
div.error:before {
    content: '\F05D6';
}